@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

img {
    max-width: 100%;
}

.container-main {
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    max-width: 1731px;
    margin: 0 auto;
}

.container-1 {
    max-width: 1520px;
    margin: 0 auto;

}

.container-2 {
    max-width: 1301px;
    margin: 0 auto;
}

body {
    background: url(./images/layerwww.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: #000; */
}

header {
    border-bottom: 2px solid gray;
}

.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.header-left {
    display: flex;
    align-items: center;
}

nav {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 90px;
    margin-right: 607px;
}

ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 32px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 90px;
}




.hero-section {
    background: url(./images/Background-image.png);
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    position: relative;
}

.head1 {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 129px;
    left: 100px;
}

h1 {
    font-size: 70px;
    line-height: 100px;
    font-weight: 100;
}



.section-2 {
    padding-bottom: 100px;
}

.rectangle-hero-section.container {
    background: url(./images/Rectangle\ 1\ \(2\).png);
    padding: 53px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}

.heading-2 {
    font-size: 60px;
    line-height: 70px;
    font-weight: 100;
}

.para-2 {

    height: 63px;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    font-weight: 800;
    margin-top: 20px;
}

.rectangle-hero {
    padding: 20px;
}




.momentum-logo {
    display: flex;
    align-items: center;
    justify-content: center;

}

.heading-3 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 100;
}

.para-3 {
    height: 44px;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 30px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 37px 0px;
}

.grid-items-1 {
    display: flex;
    align-items: center;
}

.grid-item {
    padding: 30px;
}




.section-4 {
    margin-top: 200px;
    margin-bottom: 200px;
}

.rectangle-1-image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.rectangle-1-menu {
    position: absolute;
    left: 75%;
    bottom: 165px;
}


.heading-section-4 {
    font-size: 40px;
    line-height: 50px;
}

.btn-1-section-4 {
    width: 330px;
    height: 114px;
    font-size: 20px;
    background: #000;
    margin-top: 50px;
}

.section-5 {
    margin-bottom: 191px;
}

.clients {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 145px;
}

.client-image-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

h4.h4-section-5 {
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 100px;
    font-weight: 200;
}




.section-6 {
    margin-bottom: 200px;
}

h4.h4-section-6 {
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 100px;
    font-weight: 200;

}

.clients-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 145px;
}

.clients-1-image-div {
    display: flex;
    align-items: center;
    justify-content: center;
}




.section-7 {
    margin-bottom: 200px;
}






#p-circle {
    font-weight: 100;
    font-size: 37px;
    line-height: 50px;
}

#para-B2B {
    font-size: 40px;
    line-height: 50px;
    font-weight: 100;
    margin-top: 61px;
}



#branding {
    font-weight: 100;
    margin-top: 59px;
    font-size: 40px;
    line-height: 50px;
    display: flex;
    align-items: center;
}

#para-branding {
    font-size: 20px;
    line-height: 30px;
    margin-top: 50px;
    font-weight: 100;

}

p.para-branding {
    margin-top: 25px;
}

table {
    width: 100%;
}

table,
td {

    border: 1px solid #7bdfc3;
    border-collapse: collapse;
}

td {

    padding: 0px 17px;
    margin-left: 13px;
}

tr,
td {


    height: 54px;
}

.table {

    margin-top: 54px;
}

.button-rectangle-1 {
    display: flex;
    padding: 0px 38px;
}

#rectangle-heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    margin-left: 57px;
    letter-spacing: 2px;
    text-align: center;
}

.rectangle-1-main {
    margin-top: 64px;
    background-color: #24262b;
    height: 193px;
    display: flex;
    align-items: center;
}

#first-btn {

    width: 330px;
    font-weight: 100;
    background-color: #000000;
    border: 3px solid #7bdfc3;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 40px;
    text-transform: uppercase;

}

#second-btn {
    width: 330px;
    height: 110px;
    background-color: #7bdfc3;
    margin-left: 22px;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 40px;
    text-transform: uppercase;
    color: #000000;
}

#market-heading {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    font-family: "N Haas Grotes";
    margin-top: 26px;
}

.marketing {
    margin-top: 67px;
}

#market-images {
    font-size: 40px;
    line-height: 50px;
    color: #ffffff;
    font-family: "N Haas Grotesk DS Pro";
    display: flex;
    align-items: center;
}

.button-rectangle-3 {
    display: flex;
    margin-right: 65px;
    margin-left: 50px;
}

.heading-main-rectangle-3 {
    font-size: 24px;
    line-height: 34px;
    color: #ffffff;
    font-family: "N Haas Grotesk DS Pro";
}

.rectangle-3 {
    margin-top: 98px;
    height: 193px;
    display: flex;
    align-items: center;
    background-color: #24262b;
}

#para-rectangle-3 {
    margin-left: 82px;
    margin-right: 53px;
    font-weight: 500;
    text-align: center;
}


h3 {
    margin-bottom: 2rem;
    color: #ffffff;
    font-size: 1.25rem;
    line-height: 1.75rem;

}

.section-8 {
    margin-top: 200px;
    margin-bottom: 115px;
}

.rectangle-last-image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.rectangle-last-menu {
    position: absolute;
    top: 82px;
    left: 103px;
}

.heading-section-8 {
    font-size: 36px;
    line-height: 43px;
    font-weight: 400;
}



.para-section-8 {
    margin-top: 15px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 100;
}

.rectangle-last-image-arrow {
    width: 100px;
}
.rect-1-1 img {
    width: 1154px;
    height: 730px;
}
.rect-2-2 img {
    width: 576px;
    height: 730px;
}






.section-9 {
    margin-bottom: 150px;
}

.subscribe-email {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subscribe {
    display: flex;
    align-items: center;
}

.email {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #fff;
}

h4 {
    font-size: 40px;
    line-height: 70px;
    font-weight: 100;
}

h4.heading-section-9 {
    font-size: 24px;
    line-height: 34px;
    margin-right: 284px;
}

.footer.container{
    background-color: #24262b;
}
.footer-main {
    display: grid;
    align-items: center;
    justify-items: baseline;
    padding: 13px;
  
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


ul.footer-col-1 {
    display: flex;
    flex-direction: column;
}

ul.footer-col-1 li a {
    text-decoration: none;
}

ul.footer-col-2 {
    display: flex;
    flex-direction: column;
    padding-top: 41px;
    margin-left: 114px;
}

ul.footer-col-2 li a {
    text-decoration: none;
}

ul.footer-col-3 {
    display: flex;
    flex-direction: column;
    margin-top: -109px;
}

ul.footer-col-3 li a {
    text-decoration: none;
}

ul.footer-col-4 {
    display: flex;
    flex-direction: column;
    margin-top: -109px;
}

ul.footer-col-4 li a {
    text-decoration: none;
}


.social-media-icon {
    display: flex;
    gap: 15px;
    align-items: center;
}






@media screen and (max-width:1750px) {

    .head1 {
        left: 46px;
    }

    .rectangle-last-menu {
        bottom: 20px;
    }

    .rectangle-1-menu {
        bottom: 117px;
        left: 75%;
    }
    .container {
        width: 95%;
    }

    nav {
        margin-right: 208px;
    }

    .para-3 {
        font-size: 17px;
    }

    h2.grid-heading-section-2 {
        font-size: 16px;
    }

    .container {
        width: 94%;
    }

    .container-1 {
        width: 92%;
    }

    .container-2 {
        width: 88%;
    }


}

@media screen and (max-width:1540px) {

    .head1 {
        left: 77px;
    }

    .container {
        width: 92%;
    }

    .container-1 {
        width: 90%;
    }

    .container-2 {
        width: 80%;
    }

    h1 {
        font-size: 55px;

    }

    .rectangle-hero {
        padding: 0;
    }

    .rectangle-hero {
        font-size: 47px;
    }

    .para-2 {
        font-size: 24px;
    }

    .para-3 {
        font-size: 17px;

    }

    #rectangle-heading {
        font-size: 19px;
        font-weight: 300;
    }

    .grid {
        gap: 93px 0px;

    }

    .grid-item {
        padding: 11px;
    }

    .heading-section-4 {
        font-size: 32px;
        font-weight: 300;
    }

    .btn-1-section-4 {
        width: 284px;
        height: 74px;
        margin-top: 0;
    }

    .heading-section-8 {
        font-size: 34px;
    }

    .para-section-8 {
        font-size: 20px;
    }

    #para-rectangle-3 {
        font-size: 19px;
        font-weight: 300;
    }

    #first-btn {
        width: 300px;
        height: 76px;
        font-size: 17px;
    }

    #second-btn {
        width: 300px;
        height: 76px;
        font-size: 17px;
    }

    h4.heading-section-9 {
        font-size: 20px;
        margin-right: 221px;
    }

    h4 {
        font-size: 30px;
    }

    .para-3 {
        font-size: 15px;
    }

    h2.grid-heading-section-2 {
        font-size: 16px;
    }

    .btn-1-section-8 {
        width: 268px;
        height: 100px;
        margin-top: 20px;
        font-size: 16px;
    }

    .rectangle-last-image-arrow {
        width: 100%;
        max-width: 25%;
    }
    .rectangle-hero {
        padding: 20px;
    }
    .heading-2 {
        font-size: 52px;
        line-height: 54px;
        font-weight: 100;
    }
    .heading-section-4 {
        font-size: 36px;
        line-height: 46px;
    }

}




@media screen and (max-width:1360px) {

    .para-3 {
        font-size: 15px;
    }

    h2.grid-heading-section-2 {
        font-size: 16px;
    }

    .heading-3 {
        font-size: 30px;
    }

    .rectangle-3 {
        display: flex;
        flex-direction: column;
        padding: 40px;
    }

    .rectangle-1-main {
        display: flex;
        flex-direction: column;
        padding: 40px;
    }

    .clients {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 92px;
    }

    .clients-1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 92px;
    }

    .heading-2 {
        font-size: 41px;
    }

    .para-2 {
        font-size: 20px;
    }

    #p-circle {
        font-weight: 100;
        font-size: 30px;

    }

    #para-B2B {
        font-size: 30px;
        line-height: 50px;
        font-weight: 100;

    }

    .container {
        width: 88%;
    }

    .container-1 {
        width: 86%;
    }

    .container-2 {
        width: 84%;
    }

    .btn-1-section-8 {
        width: 208px;
        height: 63px;
        margin-top: 17px;
        font-size: 15px;
    }

    .rectangle-last-menu {
        bottom: 8px;
        left: 11px;
    }

    .rectangle-last-image-arrow {
        width: 100%;
        max-width: 23%;
    }

    .heading-section-8 {
        font-size: 26px;
    }

    .para-section-8 {
        font-size: 18px;
    }
    h1{
        font-size: 35px;
    }
    .rectangle-1-menu {
        bottom: 85px;
        left: 70%;
    }


}

@media screen and (max-width:1190px) {
    .container {
        width: 86%;
    }

    .container-1 {
        width: 84%;
    }

    .container-2 {
        width: 80%;
    }

    .header-right {
        font-size: 14px;
    }

    nav {
        margin-right: 20px;
        font-size: 14px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

    }

    .heading-3 {
        font-size: 22px;
    }

    h1 {
        font-size: 35px;
    }

    .btn-1-section-4 {
        width: 190px;
        height: 63px;
        margin-top: 0;
        font-size: 14px;
    }

    .heading-section-4 {
        font-size: 20px;
        font-weight: 200;
    }

    .rectangle-1-menu {
        bottom: 41px;
    }

    .para-section-8 {
        font-size: 14px;
        line-height: 24px;
    }

    .heading-section-8 {
        font-size: 22px;
        line-height: 26px;
    }

    h4.heading-section-9 {
        font-size: 20px;
        margin-right: 194px;
    }

    h4 {
        font-size: 22px;
    }

    #first-btn {
        width: 230px;
        height: 61px;
        font-size: 13px;
        margin-top: 20px;
    }

    #second-btn {
        width: 230px;
        height: 61px;
        font-size: 15px;
        margin-top: 20px;
    }

    .rectangle-last-image-arrow img {
        width: 70px;
    }

    .image-rectangle-1 img {
        width: 70px;


    }
    .footer-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 634px;
        margin-bottom: 100px;
    }
    .rect-1-1 img {
        width: 1154px;
        height: 432px;
    }
    .rect-2-2 img {
        width: 576px;
        height: 432px;
    }
    .rectangle-last-menu {
        left: 66px;
        top: 70px;
    }
    .heading-2 {
        font-size: 33px;
    }
    .para-2 {
        font-size: 16px;
    }
    h4.heading-section-9 {
        font-size: 18px;
        margin-right: 159px;
    }
    h4 {
        font-size: 18px;
    }




}

@media screen and (max-width:992px) {

    .container {
        width: 84%;
    }

    .container-1 {
        width: 82%;
    }

    .container-2 {
        width: 76%;
    }

    h4.h4-section-6 {
        font-size: 30px;
    }

    .clients {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 100px;
    }

    .clients-1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 100px;
    }

    #para-B2B {
        font-size: 22px;
        line-height: 50px;
        font-weight: 100;
    }

    #p-circle {
        font-weight: 100;
        font-size: 22px;
    }

    #branding {
        font-size: 30px;
    }

    .rectangle-1-main {
        display: flex;
        flex-direction: column;
        padding: 30px;
    }

    .rectangle-3 {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .image-rectangle-1 img {
        width: 50px;

    }

    .rectangle-hero {
        text-align: center;
        padding: 52px;
    }

    .para-2 {
        font-size: 15px;
        text-align: center;
        line-height: 30px;
    }

    .heading-2 {
        font-size: 22px;
        font-weight: 300;
    }

    h1 {
        font-size: 29px;
    }
    .rectangle-hero-section.container{
        padding: 20px;
    }

    .heading-section-4 {
        font-size: 20px;
        font-weight: 200;
        line-height: 27px;
    }

    .rectangle-last-image-arrow img {
        width: 50px;
    }

    .rectangle-last-menu {
        top: 6px;
        left: 10px;
    }

    .hero-section {
        height: 600px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .heading-2 {
        font-size: 30px;
    }

    .rectangle-1-menu {
        bottom: 64px;
        right: 27px;
    }


    .btn-1-section-8 {
        width: 150px;
        height: 50px;
        margin-top: 14px;
        font-size: 13px;
    }
    .rect-1-1 img {
        width: 580px;
        height: 355px;
    }
    .rect-2-2 img {
        width: 275px;
        height: 355px;
    }
    .tackle-logo {
        width: 70px;
        height: 30px;
    }
    .arow-header {
        width: 21px;
        height: 30px;
    }
    h4.heading-section-9 {
        font-size: 16px;
        margin-right: 92px;
    }
    h4 {
        font-size: 16px;
    }

}

@media screen and (max-width:768px) {

    .container {
        width: 82%;
    }

    .container-1 {
        width: 87%;
    }

    .container-2 {
        width: 72%;
    }


    h1 {
        font-size: 29px;
    }

    .header-main {
        display: block;
    }

    .header-left {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
    }

    ul {
        display: flex;
        align-items: center;
    }

    .para-2 {
        font-size: 20px;
        text-align: center;

    }

    .heading-2 {
        font-size: 24px;
    }

    p.para-2 br {
        display: none;
    }

    .grid br {
        display: none;
    }

    .grid-item {
        margin: 14px;
    }

    .grid-image-arrow {
        width: 100%;
        max-width: 9%;
    }

    .momentum-image {
        width: 100%;
        max-width: 5%;
    }

   

    .btn-1-section-4 {
        width: 155px;
        height: 49px;
        margin-top: 0;
        font-size: 12px;
    }

    .heading-section-4 {
        font-size: 16px;
        font-weight: 100;
        line-height: 22px;
    }

    .rectangle-1-menu {
        bottom: 31px;
        right: 21px;
    }

    p#p-circle br {
        display: none;
    }

    .rectangle-last-menu {
        bottom: -8px;
        left: 15px;
    }

    .heading-section-8 {
        font-size: 16px;
        line-height: 19px;
    }

    .para-section-8 {
        font-size: 13px;
        line-height: 22px;
    }

    .email {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: fit-content;
        margin-left: 161px;
        padding-top: 20px;
    }

    .subscribe {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .subscribe-email {
        display: block;
    }

    .subscribe-arrow {
        width: 100%;
        max-width: 10%;
    }
    .rectangle-hero-section.container {
        padding: 20px;
      
       
    }
    ul.footer-col-1 {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
    ul.footer-col-2 {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
    ul.footer-col-3 {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
    ul.footer-col-4 {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
    .footer-main{
        font-size: 14px;
    }
    .rect-1-1 img {
        width: 429px;
        height: 272px;
    }
    .rect-2-2 img {
        width: 209px;
        height: 272px;
    }
    .table{
        font-size: 14px;
    }
    .rectangle-hero {
        text-align: center;
        padding: 30px;
    }
    #second-btn {
        width: 180px;
        height: 51px;
        font-size: 13px;
        margin-top: 12px;
    }
    #first-btn {
        width: 180px;
        height: 51px;
        font-size: 10px;
        margin-top: 12px;
    }
    #rectangle-heading {
        font-size: 14px;
        font-weight: 300;
    }


    }
    @media screen  and (max-width:576px){
        .rectangle-10 img {
            max-height: 257px;
            width: 500px;
        }
        .rectangle-1-menu {
            bottom: 22px;
            left: 164px;
        }
        .rectangle-1-image {
            display: block;
          
        }
        
    }
    